   
<div class="content


    <table>
  <tr>

<% unless @most_recent_comic == @first_comic %>
    <td style="width: 20px;">
        <a class="previous_button" href="/comic/<%=@most_recent_comic.id - 1%>">
            <%= image_tag ("random_nav.png"), :class=>"previous_button",  :style => "height: 45px; width: 25px; margin-left: 300px" %>
         </a>
    </td>
<%end%>

   <td style=" height: 20px; width: 20px;" >
         <a class="random_button" href="/comic/<%=@random_comic_id%>">
            <%= image_tag ("random.png"), :class=>"next_button",  :style => "height: 85px; width: 200px;" %>
         </a>
    </td>

<% unless @most_recent_comic %>
    <td style= "width: 20px;">
        <a class="next_button" href="">
        <%= image_tag ("randomnext.png"), :class=>"next_button",  :style => "height: 45px; width: 25px;" %>
        </a>
    </td>
  <%end%>
  </tr>
</table>

<div>

     <%= image_tag (@most_recent_comic.image), :class=>"comic_content",  :style => "max-height: 2000px; width: 700px;" %>
</div>



