<!DOCTYPE html>
<html>
<head>
  <title>Lastertoast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="site_header">
    <table class="bubble_table"> 
        <tr>
            <td>
                <a href="/">
                <%= image_tag ("comicbutton.png"), :class=>"comic_link",  :style => "height: 300px; width: 120px; border-style: none;" %>
                </a>
            </td>

            <td>
                <a href="/words">
                  <%= image_tag ("wordsbutton.png"), :class=>"words_link",  :style => "height: 300px; width: 120px; border-style: none;" %>
                </a> 
            </td>

          <td>
              <a href="/about">
                  <%= image_tag ("aboutbutton.png"), :class=>"about_link",  :style => "height: 300px; width: 120px; border-style: none;" %>
              </a>
          </td>

        </tr>
    </table>
</div>

    <div class="laser_toast">
            <%=image_tag ("lasertoasttitle.png"), :style => "height: 400px; width: 640px;" %>
    </div>




<%= yield %>

</body>
</html>
