<!DOCTYPE html>
<html>
<head>
  <title>Lastertoast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div class="nav_heads">
    <p>
        <%= image_tag ("nav_headz.png"),  :style => "height: 510px; width: 630px;" %>
    </p>
</div>

<div class="laser_toast">
    <p>
        <%= image_tag ("lasertoasttitle.png"), :style => "height: 460px; width: 640px;" %>
    </p>
</div>


<table> 
<tr>
    <td>
        <a href="/">
              <%= image_tag ("comic_bubble.png"), :class=>"comic_link",  :style => "height: 75px; width: 80px; border-style: none;" %>
        </a>
    </td>

    <td>
        <a href="/words">

          <%= image_tag ("words2.png"), :class=>"words_link",  :style => "height: 75px; width: 80px; border-style: none;" %>
        </a> 
    </td>
    <td>
        <a href="/about">
          <%= image_tag ("about.png"), :class=>"about_link",  :style => "height: 75px; width: 80px; border-style: none;" %>
        </a>
    </td>
</tr>
</table>



<%= yield %>

</body>
</html>
