<!DOCTYPE html>
<html>
<head>
  <title>Lastertoast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="tagline" style="color: white; font-family: Garamond Premier Pro; font-size: 1.05em; margin-left: 35px;"><em>Laser never toasted so good.</em></div>

    <div class="laser_toast">
            <%=image_tag ("toast.png"), :style => "height: 300px; width: 300px;" %>
    </div>
<!-- 
<div class="site_header"> -->
<div class= "bubble_table">
   <p style="color: white;  height: 50px; font-family: Garamond Premier Pro; font-size: 22px; margin-top: 5px; margin-left: 340px;"><a href="/comic" style=" text-decoration: none; padding-right: 1.8em; padding-left: 5.8em; color: white;">Comic</a><a href="/words" style=" text-decoration: none; color: white; padding-right: 1.8em;">Words</a> <a href="/about" style="text-decoration: none; color: white; padding-right: 1.8em;">About</a></p>
<div>
<!-- </div> -->





<%= yield %>

</body>
</html>
